$pc: 1920px;
$pc2: 1280px;
$pc3: 1180px;
$pc4: 1050px;
$tab3: 980px;
$tab2: 900px;
$tab: 768px;
$sp2: 530px;
$sp: 375px;

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}
@mixin pc2 {
    @media (max-width: ($pc2)) {
        @content;
    }
}
@mixin pc3 {
    @media (max-width: ($pc3)) {
        @content;
    }
}
@mixin pc4 {
    @media (max-width: ($pc4)) {
        @content;
    }
}
@mixin tab3 {
    @media (max-width: ($tab3)) {
        @content;
    }
}
@mixin tab2 {
    @media (max-width: ($tab2)) {
        @content;
    }
}
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}
@mixin sp2 {
    @media (max-width: ($sp2)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}