.blog-content {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    a {
        width: 100%;
        text-decoration: none;
        display: flex;
        margin-bottom: 50px;
        .img-wrap {
            position: relative;
            margin-right: 32px;
            .cat-data {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                max-width: 120px;
                text-align: center;
                width: 100%;
                height: 32px;
                background-color: #4d0000;
                font-size: 14px;
                padding: 9px 32px 9px 32px;
                color: #fff;
                margin-right: 22px;
            }
        }
        .text {
            color: #fff;
            h2 {
                font-size: 28px;
                line-height: 26px;
            }
        }
    }
}
