.bread-crumb {
    padding: 94px 0 50px 0;
    .breadcrumb-list {
        max-width: 1200px;
        width: 100%;
        margin-left: 110px;
        padding: 0;
    }
}

.single-content {
    max-width: 1366px;
    width: 100%;
    position: relative;
    article {
        max-width: 840px;
        width: 100%;
        margin-left: 110px;
        .cat-data {
            display: inline-block;
            max-width: 120px;
            text-align: center;
            width: 100%;
            height: 32px;
            background-color: #4d0000;
            font-size: 14px;
            padding: 9px 32px 9px 32px;
            color: #fff;
            margin-bottom: 44px;
        }
        .text {
            color: #fff;
            .article-date {
                display: block;
                font-size: 24px;
                text-align: right;
                margin-bottom: 30px;
            }
            .article-title {
                font-size: 36px;
                margin-bottom: 45px;
            }
        }
        .img-wrap {
            max-width: 840px;
            width: 100%;
            img {
                width: 100%;
            }
        }
        .article-content {
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 165px;
        }
    }
    .sidebar {
        max-width: 270px;
        width: 100%;
        
    }
}