@import "./general";

.bread-crumb {
    width: 100%;
    padding: 94px 0 50px 0;
    .breadcrumb-list {
        max-width: 840px;
        width: 100%;
        margin-left: 110px;
        padding: 0;
        @include pc2 {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 20px;
        }
    }
}

.single-content {
    width: 100%;
    .main-article {
        display: inline-block;
        max-width: 840px;
        width: 100%;
        margin: 0 56px 0 110px;
        @include pc2 {
            display: block;
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 20px;
        }
        @include sp2 {
            padding: 0 10px;
        }
        .cat-data {
            display: inline-block;
            max-width: 120px;
            text-align: center;
            width: 100%;
            height: 32px;
            background-color: #4d0000;
            font-size: 14px;
            padding: 9px 32px 9px 32px;
            color: #fff;
            margin-bottom: 44px;
        }
        .text {
            color: #fff;
            .article-date {
                display: block;
                font-size: 24px;
                text-align: right;
                margin-bottom: 30px;
            }
            .article-title {
                max-width: 840px;
                width: 100%;
                font-size: 36px;
                margin-bottom: 45px;
            }
        }
        .img-wrap {
            max-width: 840px;
            width: 100%;
            @include pc2 {
                max-width: 1000px;
            }
            img {
                width: 100%;
            }
        }
        .article-content {
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 165px;
        }
    }
    .sidebar {
        display: inline-block;
        max-width: 270px;
        width: 100%;
        vertical-align: top;
        @include pc2 {
            display: block;
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 20px;
        }
        @include sp2 {
            padding: 0 10px;
        }
        .title {
            width: 100%;
            height: 63px;
            font-size: 21px;
            color: #FFF;
            background-color: #030F55;
            text-align: center;
            line-height: 63px;
            margin-bottom: 30px;
            @include pc2 {
                font-size: 28px;
            }
            @include sp2 {
                font-size: 24px;
            }
        }
        .first {
            margin-top: 156px;
        }
        &-article {
            a {
                color: #FFF;
                display: flex;
                align-items: center;
                margin-bottom: 39px;
                height: 88px;
                transition: all 0.4s;
                .article-visual {
                    max-width: 100px;
                    width: 100%;
                    height: 70px;
                    margin-right: 14px;
                    @include pc2 {
                        max-width: 170px;
                        width: 100%;
                        height: 100px;
                    }
                }
                .article-title {
                    font-size: 12px;
                    line-height: 29px;
                    height: 88px;
                    overflow: hidden;
                    @include pc2 {
                        font-size: 20px;
                    }
                    @include sp2 {
                        font-size: 16px;
                    }
                }
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}
