@charset "UTF-8";
.btn-trigger {
  position: relative;
  width: 50px;
  height: 45px;
  cursor: pointer;
  display: none;
  z-index: 9000;
}

@media (max-width: 768px) {
  .btn-trigger {
    display: block;
  }
}

@media (max-width: 530px) {
  .btn-trigger {
    width: 40px;
  }
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  z-index: 9000;
}

.btn-trigger,
.btn-trigger span {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
  top: 0;
}

.btn-trigger span:nth-of-type(2) {
  top: 22px;
}

.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

#btn01.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}

#btn01.active span:nth-of-type(2) {
  opacity: 0;
}

#btn01.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}

body {
  font-family: "ヒラギノ明朝 ProN", serif;
  background-color: #000;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 94px;
  background-color: #4d0000;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  z-index: 1000;
}

.header-inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px 0 30px;
}

@media (max-width: 768px) {
  .header-inner {
    padding: 0 30px;
  }
}

.header-inner-logo {
  max-width: 188px;
}

.header-inner-logo img {
  width: 100%;
}

.header-inner-nav {
  margin: 0 0 0 auto;
}

@media (max-width: 768px) {
  .header-inner-nav {
    display: none;
  }
}

.header-inner-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-inner-nav-list-item {
  margin-right: 25px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-inner-nav-list-item a {
  text-decoration: none;
  color: #fff;
}

.header-inner-nav-list-item:hover {
  opacity: 0.7;
}

.header-inner .btn-trigger {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 768px) {
  .header-inner .btn-trigger {
    display: block;
  }
}

.header-sp-nav {
  display: none;
  width: 100%;
  height: 360px;
  background-color: #000000cc;
  padding: 30px 0;
}

.header-sp-nav-list {
  text-align: center;
}

.header-sp-nav-list-item {
  font-size: 30px;
  padding: 10px 0;
}

.header-sp-nav-list-item a {
  color: #fff;
  text-decoration: none;
}

.mv {
  width: 100%;
  height: 674px;
  background-image: url("../image/top-bg.png");
  background-size: cover;
  background-position: center;
  margin-top: 94px;
  position: relative;
}

.mv-copy {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 85px;
}

@media (max-width: 768px) {
  .mv-copy {
    font-size: 35px;
    line-height: 60px;
  }
}

.feature {
  width: 100%;
  padding-top: 61px;
}

.feature-title {
  text-align: center;
  color: #fff;
  padding-bottom: 60px;
}

.feature-title h2 {
  font-size: 32px;
  padding-bottom: 40px;
}

.feature-title p {
  font-size: 20px;
}

.feature-inner {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.feature-inner-content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .feature-inner-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature-inner-content-visual img {
  max-width: 683px;
  width: 100%;
}

@media (max-width: 900px) {
  .feature-inner-content-visual img {
    max-width: 750px;
  }
}

.feature-inner-content-copy {
  max-width: 560px;
  width: 100%;
  height: 345px;
  margin: 0 0 20px 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1050px) {
  .feature-inner-content-copy {
    margin: 0 0 10px 30px;
  }
}

@media (max-width: 900px) {
  .feature-inner-content-copy {
    margin: 53px 0 73px 0;
  }
}

@media (max-width: 768px) {
  .feature-inner-content-copy {
    padding: 40px 27px 0 28px;
    margin: 0 0 62px 0;
    height: 389px;
  }
}

.feature-inner-content-copy h3 {
  color: #ffffdd;
  font-size: 28px;
  line-height: 48px;
}

@media (max-width: 1050px) {
  .feature-inner-content-copy h3 {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .feature-inner-content-copy h3 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .feature-inner-content-copy h3 {
    font-size: 18px;
    line-height: 26px;
  }
}

.feature-inner-content-copy p {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 1050px) {
  .feature-inner-content-copy p {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .feature-inner-content-copy p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .feature-inner-content-copy p {
    font-size: 16px;
  }
}

.feature-inner-content-copy .btn {
  color: #fff;
  background-color: #b8860bea;
  font-size: 14px;
  max-width: 155px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 11px 0;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  border-radius: 8px;
  margin: 0 auto;
}

.feature-inner .even {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 900px) {
  .feature-inner .even {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature-inner .even-copy {
  margin-right: 56px;
}

@media (max-width: 900px) {
  .feature-inner .even-copy {
    margin: 53px 0 73px 0;
  }
}

@media (max-width: 768px) {
  .feature-inner .even-copy {
    padding: 40px 27px 0 28px;
    margin: 0 0 62px 0;
  }
}

.plan-title {
  text-align: center;
  padding: 60px 0;
  color: #fff;
}

.plan-title h2 {
  font-size: 32px;
  padding-bottom: 40px;
}

.plan-title p {
  font-size: 20px;
}

.plan .swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.plan .swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.plan .swiper-container .swiper-wrapper .swiper-slide {
  height: 407px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 14px;
}

@media (max-width: 530px) {
  .plan .swiper-container .swiper-wrapper .swiper-slide {
    margin: 0 26px;
  }
}

.plan .swiper-container .swiper-wrapper .swiper-slide img {
  max-width: 450px;
  width: 100%;
}

@media (max-width: 530px) {
  .plan .swiper-container .swiper-wrapper .swiper-slide img {
    max-width: 380px;
  }
}

.plan .swiper-container .swiper-wrapper .swiper-slide-txt {
  width: 100%;
  height: 197px;
  font-weight: bold;
  padding: 25px 20px 0 20px;
  position: relative;
}

@media (max-width: 530px) {
  .plan .swiper-container .swiper-wrapper .swiper-slide-txt {
    padding: 20px 10px 0 10px;
  }
}

.plan .swiper-container .swiper-wrapper .swiper-slide-txt-title {
  font-size: 16px;
  line-height: 27px;
}

.plan .swiper-container .swiper-wrapper .swiper-slide-txt-price {
  position: absolute;
  bottom: 50px;
}

@media (max-width: 900px) {
  .plan .swiper-container .swiper-wrapper .swiper-slide-txt-price {
    bottom: 40px;
  }
}

@media (max-width: 530px) {
  .plan .swiper-container .swiper-wrapper .swiper-slide-txt-price {
    top: 140px;
    bottom: 0;
  }
}

.plan .swiper-container .swiper-wrapper .swiper-slide-txt span {
  color: #ff0000;
}

.plan-card-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 94px 54px 0 54px;
}

@media (max-width: 900px) {
  .plan-card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 94px 27px 0 26px;
  }
}

.plan-card-box .card {
  max-width: 389px;
  width: 100%;
  height: 387px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.29);
          box-shadow: rgba(0, 0, 0, 0.29);
  text-align: center;
  padding: 0 23px;
  margin: 0 15px;
}

@media (max-width: 980px) {
  .plan-card-box .card {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .plan-card-box .card {
    padding: 0 17px;
  }
}

.plan-card-box .card-visual {
  max-width: 140px;
  padding-top: 20px;
}

@media (max-width: 980px) {
  .plan-card-box .card-visual {
    padding-top: 10px;
  }
}

.plan-card-box .card-title {
  font-size: 28px;
  font-weight: bold;
  padding: 25px 0 40px 0;
}

@media (max-width: 980px) {
  .plan-card-box .card-title {
    font-size: 20px;
    padding: 15px 0 20px 0;
  }
}

@media (max-width: 900px) {
  .plan-card-box .card-title {
    font-size: 28px;
    padding: 25px 0 40px 0;
  }
}

.plan-card-box .card-copy {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}

@media (max-width: 980px) {
  .plan-card-box .card-copy {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .plan-card-box .card-copy {
    font-size: 18px;
  }
}

.blog {
  text-align: center;
  margin-top: 80px;
}

.blog-title {
  text-align: center;
  color: #FFF;
}

.blog-title h2 {
  font-size: 32px;
}

.blog-title p {
  font-size: 20px;
  padding-top: 40px;
}

.blog-table {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 64px 80px 52px 100px;
}

@media (max-width: 768px) {
  .blog-table {
    padding: 64px 15px 52px 27px;
  }
}

@media (max-width: 530px) {
  .blog-table {
    padding: 64px 15px 20px 27px;
  }
}

.blog-table .line {
  width: 100%;
  color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.blog-table .line dt {
  display: inline-block;
  max-width: 157px;
  width: 100%;
  height: 30px;
  background-color: #4d0000;
  font-size: 14px;
  padding: 9px 50px 7px 50px;
  color: #FFF;
  margin-right: 22px;
}

@media (max-width: 768px) {
  .blog-table .line dt {
    max-width: 75px;
    padding: 9px 10px;
    font-size: 13px;
  }
}

.blog-table .line dd {
  max-width: 930px;
  width: 100%;
  font-size: 24px;
  font-weight: lighter;
  text-align: left;
  line-height: 26px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .blog-table .line dd {
    line-height: 32px;
  }
}

@media (max-width: 530px) {
  .blog-table .line dd {
    font-size: 16px;
  }
}

.blog .more-btn {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  background-color: #B8860BEA;
  padding: 11px 42px;
  border-radius: 8px;
}

.faq-title {
  text-align: center;
  color: #FFF;
  padding-top: 80px;
}

.faq-title h2 {
  font-size: 32px;
}

.faq-title p {
  font-size: 20px;
  padding: 50px 0 60px 0;
}

.faq-inner {
  max-width: 907px;
  width: 100%;
  margin: 0 auto;
  padding: 0 26px;
}

.faq-inner-menu {
  width: 100%;
  margin-bottom: 80px;
}

.faq-inner-menu dt {
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  padding: 20px 0 22px 0;
  cursor: pointer;
}

@media (max-width: 530px) {
  .faq-inner-menu dt {
    text-align: left;
    padding: 14px;
  }
}

.faq-inner-menu dd {
  background-color: #F2F2F2;
  border: 1px solid #E5E5E5;
  padding: 25px 65px 26px 50px;
  line-height: 26px;
  font-weight: bold;
  font-size: 16px;
  display: none;
}

@media (max-width: 530px) {
  .faq-inner-menu dd {
    padding: 15px;
  }
}

.footer {
  width: 100%;
  background-color: #4d0000;
}

.footer-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 62px 0 15px 0;
}

.footer-inner-nav {
  margin-bottom: 62px;
}

.footer-inner-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footer-inner-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-inner-nav-list-item {
  margin: 0 18px;
}

@media (max-width: 768px) {
  .footer-inner-nav-list-item {
    margin: 10px 0;
  }
}

.footer-inner-nav-list-item a {
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer-inner-nav-list-item a:hover {
  opacity: 0.7;
}

.footer-inner-logo {
  margin-bottom: 35px;
}

.footer-inner-logo img {
  max-width: 188px;
}

.footer-inner-copyright {
  color: #FFF;
  font-size: 16px;
}

@media (max-width: 530px) {
  .footer-inner-copyright {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */